<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block header %}
<style>
  /* Hero Section (Vanta.js background will be applied here) */
  #hero {
    position: relative;
    width: 100%;
    min-height: 240px;
    height: 50vh;
    overflow: hidden;
  }
</style>
{% endblock header %}

{% block content %}

{% include 'partials/_header.html' with active_page="services" %}


<!-- =============== HERO SECTION WITH VANTA.NET BACKGROUND =============== -->
<section id="hero">
  <!-- Vanta.js effect will be applied to this section -->
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="text-center text-white px-4" data-aos="fade-up">
      <h1 class="text-3xl sm:3xl  md:text-6xl font-bold md:mb-4">
        Comprehensive<br class="hidden lg:block" />
        <span class="text-orange-500">Service Solutions</span>
      </h1>
      <p class="text-lg md:text-2xl mb-8 hidden md:block" data-aos="fade-up" data-aos-delay="200">
        Delivering innovative solutions tailored to empower your business and enhance operational efficiency.
      </p>
    </div>
  </div>
</section>

<!-- SERVICES INTRODUCTION -->
<!-- <section class="bg-gray-100 py-12">
  <div class="max-w-7xl mx-auto px-4 text-center">
    <h2 class="text-3xl font-bold mb-6" data-aos="fade-up">Our Services</h2>
    <p class="text-lg text-gray-600 mb-8" data-aos="fade-up" data-aos-delay="100">
      We provide a range of services tailored to meet your business needs. Our solutions are designed to help you
      leverage data effectively and drive growth.
    </p>
  </div>
</section> -->

<!-- =============== CONTENT SECTION =============== -->
<section class="bg-white pt-12 py-5">
  <!-- Our Services -->
  <div class="max-w-7xl mx-auto px-4">
    <!-- <h2 class="text-3xl font-bold text-center mb-6">Our Services</h2> -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

      {% if services %}
      {% for service in services %}
      <a href="/services/{{ service.id }}"
        class="block bg-gray-50 p-6 rounded-lg shadow-xl hover:shadow-2xl transition-transform transform hover:scale-105 relative"
        id="service-{{ forloop.counter }}" data-aos="fade-up" data-aos-delay="{{ forloop.counter|add:100 }}"
        data-aos-duration="500">

        <!-- Status Chip Positioned at the Top Right -->
        <span
          class="{% if service.status == 'active' %} bg-blue-600 {% else %} bg-red-500 {% endif %} text-white text-xs font-semibold absolute top-4 right-4 px-2.5 py-0.5 rounded-full">
          {{ service.status|capfirst }}
        </span>

        <h3 class="text-xl font-semibold text-gray-800 mb-2  mt-2 overflow-hidden whitespace-nowrap text-ellipsis"
          style="display: block;">{{ service.name|capfirst }}</h3>
        <p class="text-gray-600 mt-2 overflow-hidden text-ellipsis"
          style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; height: 3rem;">
          {{ service.description }}
        </p>
        <div class="mt-4">
          <span class="text-2xl font-bold text-orange-600">${{ service.price }}</span>
          <span class="text-sm text-gray-500">/ month</span>
        </div>

        <p class="mt-2 text-gray-500">Available from: {{ service.date_included }}</p>

        <div id="promotion-{{ forloop.counter }}" style="{% if not service.on_promotion %}display:none;{% endif %}">
          <p class="mt-2 text-gray-500">Promotion: {{ service.discount }}% off until {{ service.promotion_end_date }}
          </p>
        </div>
      </a>
      {% endfor %}
      {% endif %}

    </div>
  </div>
</section>

{% endblock content %}

<!-- Footer Block -->
{% block footer %}

{% include 'partials/_footer.html' %}

{% endblock footer%}

<!-- Scripts Block -->
{% block script %}
<!-- AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.globe.min.js"></script>

<script>

  // Initialize AOS
  document.addEventListener('DOMContentLoaded', () => {
    AOS.init({
      duration: 800,
      once: true,
      offset: 200
    });
  });


  VANTA.GLOBE({
    el: "#hero",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x7393B3,
    color2: 0x71797E, //0xA9A9A9, //0xffffff,           // Whitish net lines
    backgroundColor: 0x0d1b2a, // Dark shade of primary blue
  })

  // Sticky Navbar Transition
  const header = document.getElementById("header");
  const logo = header.querySelector("a");
  const navLinksContainer = document.getElementById("navLinks");
  const menuBtn = document.getElementById("menuBtn");

  // Function to update header style based on scroll position
  function updateHeaderStyle() {
    if (window.scrollY > 10) {
      header.classList.remove("bg-transparent");
      header.classList.add("bg-white", "shadow-md");
      logo.classList.remove("text-white");
      logo.classList.add("text-gray-800");
      navLinksContainer.classList.remove("text-white");
      navLinksContainer.classList.add("text-gray-800");
      menuBtn.classList.remove("text-white");
      menuBtn.classList.add("text-gray-800");
    } else {
      header.classList.add("bg-transparent");
      header.classList.remove("bg-white", "shadow-md");
      logo.classList.add("text-white");
      logo.classList.remove("text-gray-800");
      navLinksContainer.classList.add("text-white");
      navLinksContainer.classList.remove("text-gray-800");
      menuBtn.classList.add("text-white");
      menuBtn.classList.remove("text-gray-800");
    }
  }

  // Listen for scroll events
  window.addEventListener("scroll", updateHeaderStyle);

  // Ensure header style is updated on page load
  document.addEventListener("DOMContentLoaded", updateHeaderStyle);

</script>
{% endblock script %}