<!-- templates/partials/_header.html -->
<header id="header" class="fixed w-full top-0 z-50 bg-white transition-colors duration-300 ease-in-out">
    <nav class="max-w-7xl mx-auto px-4 flex items-center justify-between h-16">
        <!-- Logo -->
        <a href="/" class="text-xl font-bold">B&amp;P Data Consulting</a>

        <!-- Mobile Hamburger -->
        <button id="menuBtn" class="md:hidden focus:outline-none" aria-label="Toggle menu">
            <i class="fas fa-bars text-2xl"></i>
        </button>

        <!-- Desktop Menu -->
        <ul id="navLinks" class="hidden md:flex space-x-6 font-medium transition-colors duration-300">
            <li class="flex flex-row items-center">
                <a href="/"
                    class=" py-1 px-2 {% if active_page == 'home' %} bg-orange-500 rounded-full text-white {% else %} hover:text-orange-500 {% endif %}">Home</a>
            </li>
            <li class="flex flex-row items-center">
                <a href="/about"
                    class="py-1 px-2 {% if active_page == 'about' %} bg-orange-500  rounded-full text-white {% else %} hover:text-orange-500 {% endif %}">About</a>
            </li>
            <li class="relative">
                <button id="servicesDropdownButton"
                    class="flex items-center {% if active_page == 'services' %} bg-orange-500 text-white {% else %} hover:text-orange-500 {% endif %} py-1 px-2 rounded-full">
                    <span class="">
                        Services
                        <i id="chevronIcon"
                            class="fas fa-chevron-down ml-2 transition-transform duration-300 ease-in-out"></i>
                    </span>
                </button>
                <div id="servicesDropdown"
                    class="hidden absolute overflow-y-auto max-h-[50vh] right-0 w-80 bg-white shadow-lg rounded-lg mt-4 p-4 z-10">
                    <ul class="space-y-2">
                        {% if services %}
                        <li>
                            <a href="/services/" class="block px-4 py-2 text-black hover:bg-gray-200 rounded">View all
                                Services</a>
                        </li>
                        {% for service in services %}
                        <li>
                            <a href="/services/{{ service.id }}"
                                class="block px-4 py-2 text-black hover:bg-gray-200 rounded">
                                {{ service.name|capfirst }}
                            </a>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li class="flex flex-row items-center">
                <a href="/contact_us"
                    class="py-1 px-2 {% if active_page == 'contact_us' %} bg-orange-500  rounded-full text-white {% else %} hover:text-orange-500 {% endif %}">Contact
                    Us</a>
            </li>
            <!-- Other menu items can go here -->
        </ul>
    </nav>
</header>

<!-- MOBILE MENU & OVERLAY -->
<div id="mobileMenu"
    class="fixed inset-y-0 left-0 w-64 bg-white text-black shadow-lg transform -translate-x-full transition-transform duration-300 ease-in-out md:hidden z-50">
    <div class="flex justify-end sticky top-0">
        <button id="closeMenu" class="p-4 focus:outline-none">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <div class="flex-1 overflow-y-auto max-h-screen"> <!-- Ensure maximum height and scrolling -->
        <ul class="flex flex-col p-4 space-y-2">
            <li class="py-1">
                <a href="/"
                    class="block px-4 py-2 hover:bg-gray-200 rounded {% if active_page == 'home' %} bg-orange-500 text-white {% endif %}">
                    <span>Home</span>
                </a>
            </li>
            <li class="py-1">
                <a href="/about"
                    class="block px-4 py-2 hover:bg-gray-200 rounded {% if active_page == 'about' %} bg-orange-500 text-white {% endif %}">
                    <span>About</span>
                </a>
            </li>
            <li class="py-1 sticky top-0 z-10"> <!-- Make Services sticky -->
                <button id="servicesToggle"
                    class=" sticky top-0 block w-full text-left px-4 py-2 hover:bg-gray-200 rounded {% if active_page == 'services' %} bg-orange-500 text-white {% endif %}">
                    <span>Services</span>
                    <i id="mobileChevronIcon"
                        class="fas fa-chevron-down transition-transform duration-300 ease-in-out"></i>
                </button>
                <ul id="servicesList" class="hidden pl-4 space-y-1">
                    {% if services %}
                    {% for service in services %}
                    <li>
                        <a href="/services/{{ service.id }}" class="block px-4 py-2 hover:bg-gray-200 rounded">
                            {{ service.name|capfirst }}
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </li>
            <li class="py-1">
                <a href="/contact_us"
                    class="block px-4 py-2 hover:bg-gray-200 rounded {% if active_page == 'contact_us' %} bg-orange-500 text-white {% endif %}">
                    <span>Contact Us</span>
                </a>
            </li>
            <!-- Add other menu items here -->
        </ul>
    </div>
</div>

<div id="mobileMenuOverlay" class="fixed inset-0 bg-black opacity-50 hidden md:hidden z-40"></div>



<script>
    const servicesDropdownButton = document.getElementById('servicesDropdownButton');
    const servicesDropdown = document.getElementById('servicesDropdown');
    const chevronIcon = document.getElementById('chevronIcon');

    servicesDropdownButton.addEventListener('click', () => {
        servicesDropdown.classList.toggle('hidden');
        chevronIcon.classList.toggle('rotate-180');
    });

    document.addEventListener('click', (event) => {
        if (!servicesDropdownButton.contains(event.target) && !servicesDropdown.contains(event.target)) {
            servicesDropdown.classList.add('hidden');
            chevronIcon.classList.remove('rotate-180');
        }
    });

</script>

<!-- toggle services in mobile menu -->

<script>
    const servicesToggle = document.getElementById('servicesToggle');
    const servicesList = document.getElementById('servicesList');
    const mobileChevronIcon = document.getElementById('mobileChevronIcon');

    servicesToggle.addEventListener('click', () => {
        servicesList.classList.toggle('hidden');
        mobileChevronIcon.classList.toggle('rotate-180'); // Rotate the chevron icon
    });
</script>